Xcursor.theme: Simple-and-Soft
#include ".colors/gruvbox-dark"

#include ".Xresources.d/urxvt"
#include ".Xresources.d/xterm"

! General resources
*cursorBlink: true
*font: xft:Inconsolata:size=12
*internalBorder: 5
*saveLines: 8192
*scrollBar: false

! For applications ignoring fontconfig settings
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
