Xcursor.theme: Adwaita-custom-dark
Xcursor.size: 24
#include ".colors/gruvbox-dark"

#include ".Xresources.d/urxvt"
#include ".Xresources.d/xterm"
#include ".Xresources.d/xscreensaver"

! General resources
*cursorBlink: true
*font: xft:Inconsolata:size=12
*geometry: 100x30
*internalBorder: 5
*saveLines: 8192
*scrollBar: false

! For applications ignoring fontconfig settings
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
